<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pyramid web application">
    <meta name="author" content="Pylons Project">
    <link rel="shortcut icon" href="{{request.static_url('reddex:static/placeholder.png')}}">

    <title>Reddex Web Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{{request.static_url('reddex:static/red16.png')}}">
    <link rel="stylesheet" href="{{ request.static_path('reddex:static/foundation.css') }}">
    <link href="{{request.static_url('reddex:static/layout.css')}}" rel="stylesheet">
  </head>

  <body>
    <div class="nav-bar">
      <div class="left">
        <ul class="dropdown menu">
          <li>
            <div class="menu-text"><h5><a href="{{request.route_url('home')}}">Home</a></h4></div>
          </li>
          <li>
            <div class="menu-text"><h5><a href="{{request.route_url('about')}}">About</a></h4></div>
          </li>
        </ul>
      </div>
      <div class="right">
        <ul class="dropdown menu">
          <li>
            <a href="#" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i>GitHub</a>
          </li>
        </ul>
      </div>
    </div>
    {% block content %}
    {% endblock content %}
    <Footer>
      <div class="wrap medium-up-1">
        <div class="column">
          <h5> Legal</h5>
          <hr>
          <p>
          </p>
        </div>
      </div>
    </Footer>
  </body>
</html>
